*{
    margin: 0;
    padding: 0;
}

.Navbar{
    
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    background-color: #222;
    height: 80px;
    
   
   
}

.Navbar__ul{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-left: 30%;
    
   
}

.Navbar__ul__li{
    padding-top: 10px;
    padding-left: 100%;
    list-style: none;
    font-family: sans-serif;
}

.Logo{

    padding-left: 0;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    color: aliceblue;

}

.Logo:hover{
    color: aliceblue;
}

.active{
    font-weight: bold;
    color: goldenrod;
}

li a {
    text-decoration: none;
    color: aliceblue;
}

li a:hover{
    color: aliceblue;

}

.cart{
    width: 30px;
    height: 30px;
}

.navLogo{
    text-decoration: none;
}