.CartImg{
    object-fit: cover;
}

.cartButtonController{
    margin: 5px;
    height: 40px;
    display: flex;
   
    margin-top: 5px;
}


.cartController{
    
    margin-top: 10px;

}

.cartEmpty{

    margin-top: 200px;

}

.cartSucces{
    margin-top: 100px;
}

.clearCartButton{
    width: 120px;
    height: 70px;
}
.totalPricebutton{
    width: 120px;
    height: 70px;
}

.letBuyButton{
    width: 120px;
    height: 70px;
}
.formStyles{
    width: 400px;
}


.cardCart{
    margin: 10px;
}


.button-flex{
    display: flex;
    margin-left: 30px;
}